.ipynb_checkpoints*
./*/.ipynb_checkpoints*
./*/*/.ipynb_checkpoints*
./env.*
./*/env.*
./*/env.sh
./*/env.yaml
./*/*/env.*
data
./data
./*/data
./.env.sh
./.env.yaml
./*/.env.sh
./*/.env.yaml
./*/*/.env.*
